<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{components/common::header}"></div>
<body>
<div th:replace="~{components/common::navbar}"></div>
<div class="container">
    <h1>用户应用程序创建成功</h1>
    <p>请妥善保存下面的凭据信息，这些信息只会显示一次！</p>
    <p><b>请注意：每个客户端都必须创建一个单独的用户应用程序，复用 AppId 和 AppSecret 将可能导致您的 BTN 账号遭到封禁！</b>
    </p>
    <dl class="row">
        <dt class="col-sm-3">AppId</dt>
        <dd class="col-sm-9" th:text="${userapp.getAppId()}"></dd>
        <dt class="col-sm-3">AppSecret</dt>
        <dd class="col-sm-9" th:text="${userapp.getAppSecret()}"></dd>
    </dl>
</div>
<div th:replace="~{components/common::footer}"></div>
</body>
</html>