<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{components/common::header}"></div>
<body>
<div th:replace="~{components/common::navbar}"></div>

<div class="alert alert-warning" role="alert">
    <b><i class="fa-solid fa-road-barrier"></i> 改版装修中</b> BTN 2.0 正在加紧施工中。由于缺乏前端人手，目前前端仅基本功能可用，不影响后端运行和上报收集等功能。
</div>

<div class="alert alert-warning" role="alert">
    <b><i class="fa-solid fa-clock"></i> 运行受限</b> 由于 BTN 网络目前正面临巨大的负载，我们暂时禁用了 BTN
    网络的部分自动分析功能，直至负载问题得到解决。
</div>

<div class="alert alert-danger" role="alert" th:if="${user.getBannedAt() != null}">
    <b><i class="fa-solid fa-ban"></i> 账户暂停</b> 您的 BTN 账户已被管理员停用，原因： <span
        th:text="${user.getBannedReason()}">未知</span>。
</div>

<div class="jumbotron">
    <h1 class="display-4">Sparkle - BTN Instance</h1>
    <p class="lead">互联共通，连接你我。</p>
    <hr class="my-4">
    <p>连接到 BTN 网络，共享威胁情报，获取云端规则。</p>
    <a class="btn btn-primary btn-lg" th:href="@{/userapp/}" role="button">创建用户应用程序</a>
</div>
<div th:replace="~{components/common::footer}"></div>
</body>
</html>