<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{components/common::header}"></div>
<body>
<div th:replace="~{components/common::navbar}"></div>

<div class="alert alert-warning" role="alert">
    <b><i class="fa-solid fa-road-barrier"></i> 改版装修中</b> BTN 2.0 正在加紧施工中。由于缺乏前端人手，目前前端仅基本功能可用，不影响后端运行和上报收集等功能。
</div>

<div class="alert alert-success" role="alert">
    <b><i class="fa-solid fa-check"></i> 恢复正常运行</b> 我们已应用了缓解措施以应对性能下降，目前 BTN
    的所有功能恢复正常运行。我们仍在观测程序稳定性并持续改进 Sparkle BTN。
</div>

<div class="alert alert-danger" role="alert" th:if="${user.getBannedAt() != null}">
    <b><i class="fa-solid fa-ban"></i> 账户暂停</b> 您的 BTN 账户已被管理员停用，原因： <span
        th:text="${user.getBannedReason()}">未知</span>。
</div>

<div class="jumbotron">
    <h1 class="display-4">Sparkle - BTN Instance</h1>
    <p class="lead">互联共通，连接你我。</p>
    <hr class="my-4">
    <p>连接到 BTN 网络，共享威胁情报，获取云端规则。</p>
    <a class="btn btn-primary btn-lg" th:href="@{/userapp/}" role="button">创建用户应用程序</a>
</div>

<div class="container-fluid">
    <h2 style="text-align: center;">统计数据 (BETA)</h2>
    <iframe style="width: 100%; height: 100vh; border: none;"
            src="https://grafana.ghostchu-services.top/public-dashboards/eded9089491241099c9ab3e384d33595"></iframe>
</div>
<!-- <div class="container-fluid">
    <h2 style="text-align: center;">查询面板 (BETA)</h2>
    <iframe style="width: 100%; height: 100vh; border: none;" src="https://grafana.ghostchu-services.top/public-dashboards/56d23fd566f44eaebdf442120555c56c"></iframe>
</div> -->

<div th:replace="~{components/common::footer}"></div>
</body>
</html>